<a href="https://colab.research.google.com/github/KosukhaOlexandr/iasa_ds_champ/blob/main/iasa_Neural_Net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Реалізація нейронної мережі для даної задачі(основна робота в файлі iasa_preprocessing_and_models)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
!ls

sample_data

In [ ]:
import pandas as pd

with open('/content/drive/MyDrive/iasa_ds_selection/Task_dataset.csv') as f:
  data = pd.read_csv(f)

In [ ]:
data = data.sample(frac = 1)
data

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
81862,1.0,2.0,2.0,2.0,0,0,0,0,2,2,...,2021-12-15,COUNTRY_15,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
1075752,1.0,3.0,3.0,6.0,1,1,1,4,2,2,...,2021-12-21,COUNTRY_72,0.0,0.0,0.0,android,0.0,0.0,0.037248,0.037248
20142,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-08,COUNTRY_141,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
958449,1.0,1.0,1.0,1.0,0,0,0,0,2,2,...,2021-12-23,COUNTRY_155,0.0,0.0,0.0,ios,0.0,0.0,0.000000,0.000000
1348887,2.0,2.0,2.0,2.0,1,1,1,1,2,2,...,2021-12-26,COUNTRY_13,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241977,1.0,1.0,1.0,1.0,0,0,0,0,1,1,...,2022-01-21,COUNTRY_164,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
351025,1.0,1.0,1.0,1.0,0,0,0,0,1,1,...,2021-12-12,COUNTRY_141,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
1145164,3.0,3.0,3.0,3.0,0,0,0,0,0,0,...,2021-12-24,COUNTRY_108,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
1011084,4.0,4.0,4.0,4.0,0,0,0,0,1,1,...,2022-01-03,COUNTRY_137,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000
726377,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-25,COUNTRY_108,0.0,0.0,0.0,android,0.0,0.0,0.000000,0.000000

In [ ]:
data = data.dropna()
y = data['target_full_ltv_day30']
X = data.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30', 'target_full_ltv_day30', 'media_source', 'install_date', 'country_code', 'platform'], axis=1)
y

81862      0.000000
1075752    0.037248
20142      0.000000
958449     0.000000
1348887    0.000000
             ...
241977     0.000000
351025     0.000000
1145164    0.000000
1011084    0.000000
726377     0.000000
Name: target_full_ltv_day30, Length: 1466458, dtype: float64

In [ ]:
X_train = X.iloc[0:50000]
y_train = y.iloc[0:50000]
X_test = X.iloc[50001:60001]
y_test = y.iloc[50001:60001]

In [ ]:
import numpy as np

x_train = X.iloc[0:1450000]
Y_train = y.iloc[0:1450000]
x_test = X.iloc[1450001:1466458]
Y_test = y.iloc[1450001:1466458]

NN:

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
!ls

drive  sample_data

In [ ]:
import pandas as pd
import numpy as np
import sklearn

In [ ]:
with open('/content/drive/MyDrive/iasa_ds_selection/Task_dataset.csv') as f:
  data = pd.read_csv(f)

In [ ]:
data = data.sample(frac = 1)
data

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
1284565,2.0,2.0,2.0,2.0,1,1,1,1,2,2,...,2022-01-02,COUNTRY_13,0.000000,0.000000,0.000000,android,0.0,0.0,0.000000,0.000000
1360713,1.0,2.0,2.0,2.0,0,2,2,2,1,3,...,2021-12-26,COUNTRY_91,0.002892,0.002892,0.002892,android,0.0,0.0,0.002892,0.002892
236739,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2022-01-30,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.0,0.0,0.000000,0.000000
852467,1.0,1.0,1.0,1.0,0,0,0,0,1,1,...,2021-12-29,COUNTRY_137,0.000000,0.000000,0.000000,android,0.0,0.0,0.000000,0.000000
1362077,1.0,1.0,1.0,1.0,1,1,1,3,2,2,...,2021-12-26,COUNTRY_137,0.000149,0.000149,0.000149,android,0.0,0.0,0.000423,0.000423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503486,2.0,2.0,2.0,2.0,3,3,3,3,3,3,...,2021-12-18,COUNTRY_141,0.026460,0.026460,0.026460,android,0.0,0.0,0.026460,0.026460
1355714,1.0,1.0,1.0,1.0,0,0,0,0,1,1,...,2021-12-26,COUNTRY_35,0.000000,0.000000,0.000000,android,0.0,0.0,0.000000,0.000000
1189726,7.0,7.0,7.0,7.0,5,5,5,5,6,6,...,2021-12-24,COUNTRY_137,0.016658,0.016658,0.016658,android,0.0,0.0,0.016658,0.016658
517795,1.0,1.0,1.0,1.0,1,1,1,1,1,1,...,2022-01-08,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.0,0.0,0.000000,0.000000
1018318,3.0,3.0,3.0,3.0,1,1,1,1,2,2,...,2022-01-03,COUNTRY_13,0.000937,0.000937,0.000937,android,0.0,0.0,0.000937,0.000937

**Попередня обробка даних:**



---

Видалення записів, які мають "nan" та колонок: "target_sub_ltv_day30", "target_iap_ltv_day30", "target_ad_ltv_day30"

In [ ]:
data = data.dropna()

data.drop(['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30'], axis = 1, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,



---

Перетворення усіх даних у числові типи:

In [ ]:
data['install_date'] = pd.to_datetime(data['install_date'], format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data['install_date_year'] = data['install_date'].dt.year
data['install_date_month'] = data['install_date'].dt.month
data['install_date_day'] = data['install_date'].dt.day
data.drop(columns='install_date', inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(data['media_source'])
data.loc[:, 'media_source'] = le.transform(data['media_source'])

le.fit(data['country_code'])
data.loc[:, 'country_code'] = le.transform(data['country_code'])

le.fit(data['platform'])
data.loc[:, 'platform'] = le.transform(data['platform'])

data.loc[:, ['media_source', 'country_code', 'platform']]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

         media_source  country_code  platform
1284565            18            35         0
1360713            12           215         0
236739              9            48         1
852467             18            43         0
1362077            18            43         0
...               ...           ...       ...
503486             18            48         0
1355714            18           153         0
1189726            18            43         0
517795              9            48         1
1018318            18            35         0

[1466458 rows x 3 columns]



---

Нормалізація

In [ ]:
data = (data-data.mean())/data.std()



---

Розподіл даних на дані для тренування та тестування

In [ ]:
X = data[data.columns]
X.drop(columns='target_full_ltv_day30', inplace=True)
y = data['target_full_ltv_day30']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1026520, 61)
(1026520,)
(439938, 61)
(439938,)



---

Створення моделі

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
 
# Defining the Input layer and FIRST hidden layer, both are same!
model.add(Dense(units=50, input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))
 
# Defining the Second layer of the model
# after the first layer we don't have to specify input_dim as keras configure it automatically
model.add(Dense(units=50, kernel_initializer='normal', activation='tanh'))
 
# The output neuron is a single fully connected node 
# Since we will be predicting a single number
model.add(Dense(1, kernel_initializer='normal'))
 
# Compiling the model
model.compile(loss='mean_squared_error', optimizer='adam')
 
# Fitting the ANN to the Training set
model.fit(X_train, y_train ,batch_size = 20, epochs = 24, verbose=1)

Epoch 1/24
51326/51326 [==============================] - 86s 2ms/step - loss: 0.3273
Epoch 2/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.3225
Epoch 3/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.3464
Epoch 4/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.3544
Epoch 5/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.4042
Epoch 6/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.3829
Epoch 7/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.3963
Epoch 8/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.3814
Epoch 9/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.3995
Epoch 10/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.3620
Epoch 11/24
51326/51326 [==============================] - 85s 2ms/step - loss: 0.3366
Epoch 12/24
51326/51326 [==============================] - 86s 2ms/step - loss: 0.3455
Epoch 13/24
51326/51326 [==============================] - 88s 2ms/step - loss: 0.3756
Epoch 14/24
51326/51326 [==============================] - 88s 2ms/step - loss: 0.3649
Epoch 15/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.3936
Epoch 16/24
51326/51326 [==============================] - 85s 2ms/step - loss: 0.4118
Epoch 17/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.4318
Epoch 18/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.4284
Epoch 19/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.4280
Epoch 20/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.4194
Epoch 21/24
51326/51326 [==============================] - 84s 2ms/step - loss: 0.4398
Epoch 22/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.4021
Epoch 23/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.4694
Epoch 24/24
51326/51326 [==============================] - 83s 2ms/step - loss: 0.4601

In [ ]:
from sklearn.metrics import mean_squared_error

predictions_test = model.predict(X_test)
print('MSE test:', mean_squared_error(y_test, predictions_test))

MSE test: 0.6173219296293587